@model School_Portal.Models.ApplicationUser

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    .form-group {
        margin-bottom: 15px;
    }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input[type="text"],
        .form-group input[type="number"],
        .form-group {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        .form-group button {
            padding: 10px 15px;
            background-color: #4c1864;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .form-group button:hover {
                background-color: #4c1864;
            }

    .card-header {
        background-color: #4c1864;
    }
</style>
<div class="container-fluid" style="margin-top: 10px;margin-left: 10%;padding-right: 20%;padding-left: 18%; padding-top:3%;">
    <div class="card">
        <div class="card-header text-white text-center">
            <h2>Profile</h2>
        </div>
        <div class="card-body">

            <form asp-action="Profile" asp-controller="Admin" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="FirstName">FirstName</label>
                        <input type="text" asp-for="FirstName" name="FirstName">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="LastName">LastName</label>
                        <input type="text" asp-for="LastName" name="LastName">
                        </div>
                    </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="text" asp-for="Email" name="Email">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Phonenumber">Phone Number</label>
                        <input type="number" asp-for="PhoneNumber" name="PhoneNumber" >
                    </div>
                </div>
                    <div class="col-sm-12 pt-2">
                        <div class="form-group text-center">
                            <button type="submit">Update</button>
                            <button type="submit">Back</button>
                        </div>
                    </div>
                </div>
           </form>
        </div>
    </div>
</div>